* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
}
header{
    height: 60px;
    width: 100%;
    background: #4A235A;
    color: #FDFEFE;
    display: flex;
    align-items: center;
}
.container{
    width:90%;
    margin: 0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.nav-list a.button{
background: red;
padding: 5px 5px;
color: #fff;
font-size: 15px;
border-radius: 5px;
box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
margin-top: 25px;
text-decoration: none;
transition: 0.4s;
 } 
 .nav-list a.button:hover{
    background: #34495e;
    color: #fff;
}
.popup{
    display: none;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
 }   
 .popup-content{
    width: 350px;
    background: #000;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
  }  

.popup-content h2{
    width: 150px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 2px;
    padding: 6px;
    margin-left: 80px;
}
.popup-content input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.popup-content:focus{
    outline: none;
}
.popup-content::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border:none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
}
.popup-content .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
  font-weight:bold;
  color: #fff;
}
.popup-content .link p{
  color: #ff7200;
}
.popup-content .link a{
  text-decoration:none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight:bold;
  color: #fff;
}       
.icons a{
    text-decoration:none;
    color:#fff;
}
.icons ion-icon{
    color:#fff;
    font-size:30px;
    padding-left:14px;
    padding-top:5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color:#ff7200;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
 .popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  } 
  .popup-content .user {
    position: absolute;
    padding: 5px;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-bottom: 80px;
    top: 20px;
  } 
#result {
    display: none;
} 
.nav-list{
        display: none;
 }  
nav ul li{
    list-style:none;
    display:inline;
    margin-right:30px;
    font-weight: 550;
}
nav ul li a {
    color: white;
 }   
nav ul li a:hover {
    background-color: #575757;
}

.logo{
    font-size:24px;
}
.hero{
    width:100%;
    height: auto;
    background:url(bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color:#fff;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hero h2{
    font-size:36px;
    margin-bottom:10px;
}
.hero p{
    font-size:20px;
    margin-bottom:10px;
}
.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border:0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border:1px solid rgb(245, 37,9);
}
.search-box button{
    padding: 10px 20px;
    outline: none;
    border:0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: rgb(245, 37,9);
    color: #fff;
    cursor: pointer;
}
.search-box button:hover{
    background: #ff2200;
    color: #000;
 }
.recipes{
    padding: 50px 0;
}
.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}
.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
}
.recipes button{
    text-align: center;
    background: red;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    margin: 0;
    border:0; 
}
.recipes button:hover{
    color: #000;
}
.plus-icon {
    font-size: 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    right: 80px;
    bottom: 20px;
    left: 800px;
    padding: 50px 0;
}

.plus-icon:hover {
    background-color: #218838;
}
 .recipes .new-recipe{
    width: 100%
  }
  
.recipe-card{
    background:#fff;
    margin:20px 5px;
    border-radius: 8px;
    border:1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: left;
    max-height: 650px;
    flex: 1 0 300px; /* Adjust the width as needed */
    max-width: 300px; /* Maximum width for each recipe card */
    text-align: left;
    display: block; /* Ensure cards are visible by default */
}
.recipe-card img{
width: 100%;
height: 200px;
object-fit: cover;
}    
.recipe-card h2{
    font-size: 22px;
    padding: 20px;
    min-width: 300px;
}
.recipe-card p{
    font-size: 14px;
    padding: 20px;
}
.recipe-card button{
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 30px;
    margin-left: 2px;
    cursor: pointer; 
    bottom: 0;
    right: 0;
    align-self: flex-end;
    margin-bottom: 2px;
}
.recipe-card .view-recipe .edit-recipe .delete-recipe{
display: inline;
background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    list-style:none;
    margin-left: 30px;
    margin-right:30px;
    font-weight: 550;
  }  
  .edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 30%
}

.edit-form form {
    display: flex;
    flex-direction: column;
}

.edit-form form label,
.edit-form form input,
.edit-form form textarea {
    margin-bottom: 10px;
}

.edit-form form button {
    margin-top: 10px;
}
.recipe-card button:hover{
    background: #000;
    color: #fff;
 }  
 .view-recipe-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 30%
}

.view-recipe-form h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.view-recipe-form label {
    display: block;
    margin-top: 10px;
}

.view-recipe-form input[type="text"],
.view-recipe-form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.view-recipe-form button {
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.view-recipe-form button:hover {
    background-color: #218838;
}
.view-recipe-form .close {
     position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
 .recipe-details {
    display: none;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
.recipe-details.show-details {
    display: block;
}

#add-recipe-form {
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 30%
}

#add-recipe-form h2 {
  margin-bottom: 10px;
}

#add-recipe-form form {
  display: flex;
  flex-direction: column;
}

#add-recipe-form label {
  margin-top: 10px;
}

#add-recipe-form input,
#add-recipe-form textarea {
   margin-bottom: 10px;
}

#add-recipe-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-recipe-form button:hover {
  background-color: #0056b3;
}
section {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form button {
    background-color: #4A235A;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #6C3483;
}

#recipe-list, #admin-recipe-list, #user-list, #category-list, #tag-list, #submitted-recipes, #comments-reviews, #notifications-list {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#backup-data, #restore-data {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4A235A;
    color: white;
    cursor: pointer;
}

#backup-data:hover, #restore-data:hover {
    background-color: #6C3483;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
 footer  
 {
background: #333;
padding: 20px 0;
color: #fff;
text-align: center;
}
.menu-Icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
 } 
 #admin-panel {
    width: 90%;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#admin-panel nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#admin-panel nav ul li {
    margin-right: 20px;
}

#admin-sections {
    margin-top: 2rem;
}

#admin-sections section {
    margin-bottom: 2rem;
}

#admin-sections h3 {
    color: #333;
    margin-bottom: 1rem;
}

#category-form, #tag-form, #settings-form {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

#category-form input, #tag-form input, #settings-form input, #settings-form button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#category-form button, #tag-form button, #settings-form button {
    background-color: #4A235A;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#category-form button:hover, #tag-form button:hover, #settings-form button:hover {
    background-color: #6C3483;
}

#backup-data, #restore-data {
    background-color: #4A235A;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
    transition: background-color 0.3s;
}

#backup-data:hover, #restore-data:hover {
    background-color: #6C3483;
}

#user-list, #category-list, #tag-list, #analytics-data, #submitted-recipes, #comments-reviews, #notifications-list {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin-top: 1rem;
}  
@media only screen and (min-width:768px){
    .menu-Icon{
        display: none;
 } 
 .nav-list{
        display: block;
 }  
  .add-recipe-button,
    .plus-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        padding: 50px 0;
    }
 }   
 @media only screen and (max-width:768px){
    .hero h2{
        font-size: 28px;
 } 
 .hero p{
        font-size: 15px;
 }  
 .plus-icon {
       
    }
    .add-recipe-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        padding: 50px 0;
    }
 } 
@media (max-width: 1200px) and (min-width: 500px), (max-width: 740px) and (min-width: 360px) {
    .add-recipe-button,
    .plus-icon {
        display: inline-flex;
        position: relative;
        bottom: 10px;
        right: 30px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        padding: 50px 0;
    }
}